body {
  font-family: Chiller;
  font-size:30px;
}

* {
  box-sizing: border-box;
}
.h1{
font-family:Impact, Charcoal, sans-serif;
}
.container {
  border-radius: 5px;
  background-color: #b2a2a2;
  padding: 10px;
}
.btn:hover {
  background-color: DarkCyan;
}
.btn {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}